<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--<script src="http://cdn.auth0.com/w2/auth0-widget-4.1.js"></script>
    -->
    <title>BlogSails</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  </head>

  <body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">BlogSails</a>
        <ul class="nav navbar-nav">
          <li><a href="/">Inicio</a></li>
          <li><a href="/post">Posts</a></li>
          
          <% if(! req.session.user) { %>
          
            <li><a href="/loguearse">Entrar</a></li>
           <li><a href="/registrarse">Registrarse</a></li>
          
          <% } %>
          
          <% if(req.session.user) { %>
          
            <li><a href="/publicacion">Crear Post</a></li>

            <li><a href="/salir">Salir</a></li>

            <li><a style="position: left;" href="user?username=<%= req.session.user %>"><%= req.session.user %></a ></li>

          <% } %>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Include the view file for the current controller/route -->
    <%- body %>

    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
   <!-- <script type="text/javascript" src="/js/socket.io.js"></script> -->
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <!---<script type="text/javascript" src="/js/sails.io.js"></script>-->
    <!-- listen on socket.io for incoming messages -->  <!--
    <script type="text/javascript" src="/js/app.js"></script>-->

    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
